<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-headphones"></span> Welcome To BG showroom!</h1>
             <h2>View our hand-picked club reviews</h2>
             <p>
                <a class="btn btn-primary btn-lg" href="/clubs/new">Add New Club</a>
             </p>
              <p>
              <form action="/clubs" method="GET" class="form-inline" id="club-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Review search..." class="form-control">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="club-grid">
        <% clubs.forEach(function(club){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= club.image %>">
                   <div class="caption">
                       <h4><%= club.name %></h4>
                   </div>
                   <p>
                       <a href="/clubs/<%= club._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
